*{
    margin: 0;
}

body{
    margin-top: 22px;
}

.center{
    margin: auto;
    max-width: 1170px;
}

.nav{
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    border-top: 1px solid rgba(35, 32, 31, 0.1);
    border-bottom: 1px solid rgba(35, 32, 31, 0.1);
}

.nav-item{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
}

.article{
    margin-top: 50px;
    max-width: 970px;
}

.article_header-text{
    font-size: 14px;
    line-height: 18px;
}

.text--orange{
    color: #FA5B3D;
}

.text--gray{
    color: rgba(35, 32, 31, 0.6);
}

.article-heading{
    font-size: 36px;
    line-height: 44px;
}

.article-text{
    font-size: 22px;
    line-height: 30px;
    max-width: 675px;
}

.article-preview--info{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(35, 32, 31, 0.1);
}

.article-author{
    display: flex;
    gap: 20px;
}

.author-avatar{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.author-name{
    margin-bottom: 2px;
}

.author-info--text{
    font-size: 18px;
    line-height: 24px;
}

.article-links{
    padding-top: 7px;
    display: flex;
    gap: 15px;
}

.article-link{
    text-decoration: none;
}

.article-section{
    margin-bottom: 60px;
    max-width: 700px;
}

.article-section--heading{
    font-size: 30px;
    line-height: 42px;
}

.article-section--text{
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
}

.intro-nav--heading{
    font-size: 24px;
    line-height: 30px;
    margin-top: 40px;
    margin-bottom: 19px;
    text-align: left;
}

.intro-nav--item{
    list-style-position: inside;
    padding: 0;
}

.intro-nav--items{
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 10px;
}

.intro-nav--links{
    text-decoration-line: underline;
    color: #1C5F87;
    padding-left: 10px;
}

.border-diag-out{
    margin-top: 30px;
    padding: 5px;
    background: repeating-linear-gradient(
    -45deg,
    #1C5F87 0 10px,
    #23201F 10px 12px);
}

.border-diag-in{
    background: #FAFAFA;
    padding: 20px 65px 20px 65px;
}

.border-diag--text{
    margin: 0;
}

.table{
    width: 700px;
    border-collapse: collapse;
    
}

.thead, .tfoot{
    background: #1C5F87;
    color: #FFFFFF;
    
}

td, th{
    border: 1px solid rgba(35, 32, 31, 0.6);
}

th{
    height: 38px;
}

td{
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 25px;
}

.col-first{
    max-width: 200px;
}

.col-second,
.col-third,
.col-fourth{
    padding-left: 0;
    text-align: center;
}

.text-note{
    padding-top: 15px;
}

.img-diag{
    padding-top: 40px;
    padding-bottom: 40px;
}